@charset "UTF-8";

/* CSS Document */


/*Typography*/

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 16px;
    line-height: 1.5em;
    /*    Set the font in white color */
    color: rgb(41, 39, 39);
}


/*Links*/

a {
    /*    Set the link in color */
    color: #e85c92;
    /*    Set a transition in colors for links*/
    -webkit-transition: 300ms;
    -moz-transition: 300ms;
    -o-transition: 300ms;
    transition: 300ms;
}

a:hover {
    outline: none;
    text-decoration: none;
    color: #57249d;
}

a:focus {
    outline: none;
    /*    Set the space between an outline and the edge or border of an link as 0.*/
    outline-offset: 0;
}


/*Lists*/

ul {
    list-style: none;
}


/*Headings*/

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
}

h1 {
    font-size: 36px;
    color: #686868;
}

h2 {
    font-size: 26px;
    color: #686868;
}

h3 {
    font-size: 18px;
}


/*Top hero picture area*/

#top {
    /*    Set the text color as white*/
    color: lightgray;
    /*    Set the background color as white*/
    background-color: aqua;
    font-family: 'Open Sans', sans-serif;
    /*The following two lines are going to add a background image to the top header area*/
    background: url(../img/header_bg.jpg) no-repeat top left;
    background-size: cover;
    /*The padding for bottom and top settings will expand the height of header area*/
    padding-bottom: 100px;
    padding-top: 100px;
}

#top h1 {
    /*    Set the h1 color as white*/
    color: white;
    text-align: center;
}


/* End of top hero area*/


/*about section*/

#about {
    padding-top: 50px;
    background-color: aquamarine;
}

#about img {
    margin-top: 30px;
}

.btn {
    background-color: aquamarine;
    border: none;
    /*    border: 2px solid black;*/
    padding: 10px 20px 10px 20px;
    font-size: 30px;
}

.btn:hover {
    background-color: #2c8d6c;
    opacity: 0.8;
}


/*portfolio*/


/*    set the vertical space between the thumbnails, if using offset column class, the margin setting on left and right should be disabled. So change the following code to margin-bottom: 30px*/

#portfolio {
    margin-top: 50px;
}

#portfolio .portfolio-item {
    margin: 0 0 15px;
    /*    padding: 0;*/
    /*    enable the padding equals 0 setting to create a seamless tile layouts*/
}


/*set the portflio link a as a block and center to the portfolio item container*/

#portfolio .portfolio-item .portfolio-link {
    display: block;
    position: relative;
    margin: 0 auto;
}


/*set the caption in default mode*/

#portfolio .portfolio-item .portfolio-link .caption {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    background: rgba(24, 188, 156, .9);
    /*    adjust the color of roll over effect*/
    -webkit-transition: all ease .5s;
    -moz-transition: all ease .5s;
    transition: all ease .5s;
}


/*set the opacity of caption*/

#portfolio .portfolio-item .portfolio-link .caption:hover {
    opacity: 1;
}


/*set the caption content, such as icon or title*/

#portfolio .portfolio-item .portfolio-link .caption .caption-content {
    position: absolute;
    top: 50%;
    /* adjust the top value if you want to show the name of title*/
    width: 100%;
    height: 20px;
    margin-top: -12px;
    text-align: center;
    font-size: 20px;
    color: #f7f6ef;
}


/*set the top space for the icon*/

#portfolio .portfolio-item .portfolio-link .caption .caption-content i {
    margin-top: -12px;
}


/*set the margin for h3 and h4, if they are used inside the caption area*/

#portfolio .portfolio-item .portfolio-link .caption .caption-content h3,
#portfolio .portfolio-item .portfolio-link .caption .caption-content h4 {
    margin: 0;
}

#portfolio * {
    z-index: 2;
}

#portfolio .portfolio-item h3 {
    text-align: center;
}


/*modal*/

.portfolio-modal .modal-content {
    /*Change the paragraph font color*/
    color: #fffefe;
    padding: 100px 0;
    min-height: 100%;
    border: 0;
    border-radius: 0;
    text-align: left;
    background-clip: border-box;
    -webkit-box-shadow: none;
    box-shadow: none;
    /*Change the background-color*/
    background-color: rgba(33, 32, 32, 0.9);
}

.portfolio-modal .modal-content h2 {
    margin-top: 0px;
    margin-bottom: 30px;
    font-size: 3em;
    /*    text-align: center;*/
}

.portfolio-modal .modal-content img {
    margin-bottom: 30px;
}

.portfolio-modal .modal-content .item-details {
    margin: 30px 0;
}

.portfolio-modal .close-modal {
    position: absolute;
    top: 25px;
    right: 25px;
    width: 75px;
    height: 75px;
    background-color: transparent;
    cursor: pointer;
}

.portfolio-modal .close-modal:hover {
    opacity: .3;
}

.portfolio-modal .close-modal .lr {
    z-index: 1051;
    width: 1px;
    height: 55px;
    /*    margin-left: 35px;*/
    /*Line color*/
    background-color: white;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.portfolio-modal .close-modal .lr .rl {
    z-index: 1052;
    width: 1px;
    height: 55px;
    /*Line color*/
    background-color: white;
    -webkit-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    transform: rotate(90deg);
}

.portfolio-modal .modal-backdrop {
    display: none;
    opacity: 0;
}

.portfolio-modal .modal-footer {
    border: none;
}

.portfolio-modal .modal-footer button {
    background-color: transparent;
    color: white;
    border: white 1px solid;
    font-size: 14px;
    padding: 5px 10px;
}

.modal {
    overflow: scroll;
}


/*nav*/


/*change the background color*/

.navbar {
    background-color: black;
    border: none;
    border-radius: 0;
}

.navbar-nav {
    width: 100%;
    text-align: center;
    margin: 0;
    padding: 0;
}

.navbar-nav > li {
    float: none;
    display: inline-block;
    width: 100%;
    /*    menu item size*/
    font-size: 1.2em;
}


/*menu color*/

.navbar-default .navbar-nav > li > a {
    color: yellow;
}


/*menu hover color*/

.navbar-default .navbar-nav > li > a:hover {
    color: white;
}


/*menu active background and font color*/

.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > .active > a:hover {
    background-color: lavender;
    color: red;
}

#brand {
    display: none;
}

.navbar-brand {
    font-size: 24px;
    color: dodgerblue !important;
}

@media (min-width: 768px) {
    .navbar-nav > li {
        width: auto;
    }
    .navbar-brand {
        display: none;
    }
    #brand {
        display: block;
        font-size: 24px;
        color: dodgerblue !important;
        background-color: transparent !important;
    }
}


/*Set different layouts for small, medium and large screen*/


/* Small devices (tablets, 768px and up) */

@media (min-width: 768px) {
    /* The following code is to change the vertical space when screen size is bigger than mobile screen.*/
    /*    set the vertical space between the thumbnails, if using col-sm-offset-* class name to divs, the margin setting on left and right should be disabled. So change the following code to margin-bottom: 30px;*/
    #portfolio .portfolio-item {
        margin: 0 0 30px;
    }
}


/* Medium devices (desktops, 992px and up) */

@media (min-width: 992px) {}


/* Large devices (large desktops, 1200px and up) */

@media (min-width: 1200px) {
    ...
}